<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
</head>
<body>
    <h1>Update Task</h1>
    <form method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ task.title }}" required><br>
        <label for="desc">Description:</label><br>
        <textarea id="desc" name="desc" required>{{ task.desc }}</textarea><br><br>
        <input type="submit" value="Update Task">
    </form>
</body>
</html>
